{% block appbundle_siteimage_row %}
    <div class="form-group field-appbundle_siteimage col-xs-6 col-sm-4">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock appbundle_siteimage_row %}