{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}
{% block navbar_sub %}{% endblock %}

{% block body %}
  {% include 'sites/_filters.html.twig' %}
  <div id="sites" class="row card-deck">
    {% for site in sites %}
      {% include 'sites/_site.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}