{% extends 'base.html.twig' %}

{% block title %}Sites{% endblock %}

{% block navbar_sub %}
  <div class="navbar-nav d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link" href="{{ path('sites_index') }}">Sites</a>
    </li>
  </div>
{% endblock %}

{% block body %}
  {% include 'sites/_filters.html.twig' %}
  <div id="sites" class="row card-deck">
    {% for site in sites %}
      {% include 'sites/_site.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}