{% extends 'base.html.twig' %}

{% block title %}{{ site.title }}{% endblock %}
{% block sites_active %}active{% endblock %}

{% block body %}
  <div id="site">
    <div class="row">
      <div class="col-4">
        {% include 'sites/_media.html.twig' %}
        {% include 'sites/_location.html.twig' %}
      </div>
      <div class="col-8">
        <h1 class="h2 mb-4">
          {{ site.title }}
          <small class="text-muted">{{ site.historicalNames | markdown }}</small>
        </h1>
        {% include 'sites/_nav-tabs.html.twig' %}
        {% include 'sites/_tab-content.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}