<footer id="footer-nte" class="bg-primary mt-4 p-4">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 mb-4">
        <ul class="list-unstyled">
          <li><a href="//www.unifr.ch"><i class="fas fa-angle-right"></i> Université de Fribourg</a></li>
          <li><a href="//www.unifr.ch/lettres"><i class="fas fa-angle-right"></i> Faculté des lettres et des sciences humaines / Philosophische Fakultät </a></li>
          <li><a href="//lettres.unifr.ch/fr/hist.html"><i class="fas fa-angle-right"></i> Sciences historiques / Historische Wissenschaften</a></li>
        </ul>
        Made by <a href="//www.unifr.ch/nte">Centre NTE</a>
        <a href="//github.com/nte-unifr/pilgrims"><i class="fab fa-github"></i></a>
      </div>
      <div class="col-12 col-md-4">
        <img class="img-fluid" src="{{ asset('images/SNF.png') }}" alt="SNF">
      </div>
    </div>
  </div>
</footer>