@import "bs_nte";
@import "bs_override";
@import "bs_responsive-card-deck";

.site.card h5 {
  font-weight: bold;
}

#site {
  .blockquote {
    font-size: 0.9rem;
  }
  small {
    font-size: 60%;
  }
  .tab-content {
    border-top: 0;
    border-radius: 0;
  }
  #sources .quotes blockquote {
    border-left: solid 3px #6c757d;
    padding-left: 5px;
    font-size: 0.9rem;
  }
}

.mixitup-control-active {
  color: #fff;
  background-color: $blue !important;
  &:hover {
    color: #fff;
  }
}