#site_images textarea {
    min-height: 50px !important;
}

#site_images .field-appbundle_siteimage:nth-child(3n+4) {
    clear: both;
}

.site_images_selector .field-collection-action {
    clear: both;
}